#map {
    height: 100%;
}

.map {
    height: 500px;
    width: 50%;
}

span.tab-space {
    padding-left:1em;
}

.navbar-brand {
    margin-left: 20px !important;
    font-family: 'Lobster', cursive !important;
}

#login-buttons {
    margin-right: 20px !important;
    font-family: 'Sanchez', serif !important;
}

a, button {
    font-family: 'Sanchez', serif !important;
}

b {
    font-weight: bold !important;
}

* {
    font-family: 'Roboto', serif;
    font-weight: 300
}

.header-things {
    font-weight: 700
}

.container-fluid {
    background-color: rgb(7, 1, 59);

}

.create-account {
    background-color: rgb(247, 240, 228);
    margin-top: 15px;
}

.login-column {
    background-color: rgb(247, 240, 228);
    margin-top: 15px;
}

.login-column-text, .create-account-text {
    padding: 10px;
}

#querying {
    background-color: rgb(247, 240, 228);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px
}

#welcome {
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;   
} 

.restaurant-idea-photos {
    width: 100%;
}

#restaurant-details {
    padding-left: 15px;
}

.details-photos {
    object-fit: contain; /* keep aspect ratio */
    width: 100%;
    max-height: 300px;
    margin-bottom: 1rem;
    padding-right: 10px;
}

#details-photos-header {
    padding-left: 115px;
}

body {
    background-image: url('images/backgroundv3.png')
}

#location {
    margin-top: 15px;
    margin-bottom: 30px;
}

.form-select {
    margin-top: 10px;
}

.personal-info {
    padding-left: 10px;
}

.user-ratings {
    background-color: rgb(253, 251, 250);
    padding-left: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.rated-restaurant-name-table {
    color: rgb(7, 28, 151);
}

.nearby-restaurant-listing {
    background-color: rgb(253, 251, 250);
} 

.card-text {
    padding-left: 10px;
    padding-top: 10px;
}

#restaurant-info-card, #restaurant-hours-card {
    height: 420px;
}

.action-butts {
    padding-left: 10px;
    padding-bottom: 20px;
}

.action-butt-in-card {
    padding-right: 10px;
}

.alert-space {
    position: relative;
}

.alert {
    position: absolute;
    font-family: 'Sanchez', serif;
}

.iwenthereimage {
    object-fit: contain; /* keep aspect ratio */
    width: 100%;
    max-height: 300px;
    margin-bottom: 1rem;
}

.visited-restaurant-data, .visited-restaurant-rating-stuff {
    margin-top: 15px;
    padding-bottom: 10px;
}

