{% extends 'base.html' %}

{% block title %}Let's Find Good Food{% endblock %}

{% block content %}

  <div class='personal-info'>
    <h3 class='header-things'>Account Details</h3>
    <p><b>Email Address:</b> {{ email }}</p>
    <p><b>Username:</b> {{ username }}</p>
  </div>
<!-- <div class='favorites'>
    <h3> My favorite places:</h3>
    {% if favorites %}
      <table>
        <tr>
            <th>Restaurant</th>
            <th>Cuisine Type</th>
        </tr>
        {% for favorite in favorites %}
          <tr>
            <th>{{ restaurant }}</th>   
            <th>{{ cuisine }}</th>            
          </tr>
        {% endfor %}
        </table>    
        
        {% else %}
            Nothing here yet!
    {% endif %}
</div> -->
<div class='container user-ratings'>
    <h3 class='header-things'> My rated places:</h3>
    {% if rated %}
      <table class='table table-bordered table-striped'>
        <tr>
            <th><h4>Restaurant</h4></th>
            <th><h4>Rating</h4></th>
            <th><h4>Comment</h4></th>
        </tr>
        {% for rating in rated %}
          <tr>
            <th><a class='rated-restaurant-name-table' href="/api/iwenthere/{{ rating[3] }}">{{ rating[2] }}</a></th>   
            <th>{{ rating[0] }}</th>
            <th>{{ rating[1] }}</th>            
          </tr>
        {% endfor %}
        </table>    
        
        {% else %}
            Nothing here yet!
    {% endif %}
</div>
{% endblock %}