<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_package_v0.16/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon_package_v0.16/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon_package_v0.16/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
  </script>
  {% block head %}{% endblock %}    
</head>
<body>
  <nav class='navbar navbar-dark bg-dark'>
    
      <h3>
        <a class='navbar-brand' href="/">Let's Find Good Food</a>
      </h3>
      <div id='login-buttons' class='d-flex'>
        {% if current_user.is_anonymous %}
        <a class='link-light' href='/loginpage'>Log In or Create Account</a> 
        {% else %}
        <a class='link-light' href='/account'>My Account</a> 
        <span class='tab-space'><a class='link-light' href='/logout'>Log Out</a></span>
        {% endif %}
      </div>
    
  </nav>

  <div class="container d-flex header">
    {% for msg in get_flashed_messages() %}
      <div class="alert alert-info offset-2">{{ msg }}</div>
    {% endfor %}
  </div>

  {% block content %}{% endblock %}
</body>
</html>