{% extends 'base.html' %}

{% block title %}Let's Find Good Food{% endblock %}

{% block head %}

  <script src="/static/js/detailsmap.js"></script>
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUGVnroWJpcUmeIrmjxJfmSAObDacF7Q8&callback=initMap">
  </script>
{% endblock %}

{% block content %}
<section class="map" style="height:100%; width:100%">
    <div id="map"></div>
</section>
<div id='restaurant_details'>
    <h2>{{ data['name'] }}</h2>
    <p>
        <b>Cuisine Type(s):</b> |{% for category in data['categories'] %}  
                            {{ category['title']}} |
                          {% endfor %}  
    </p>
    <p>
        <b>Price:</b> {{ data['price']}}
    </p>
    <p>
        <b>Phone:</b> {{ data['display_phone']}}
    </p>    
    <p>
        <b>Address:</b> {% for line in data['location']['display_address'] %}
                          {{ line }}
                        {% endfor %}   
    </p>                
    <p>
        <b>Hours:</b>  
            <p>
                Currently {% if data['hours'][0].is_open_now %} Open! 
                {% else %} Closed :( {% endif %}
            </p>
            <p>              
                {% for day, hours in day_determiner(data['hours'][0].open).items() %} 
                    <p>{{ day }}: {{ hours }}</p>
                {% endfor %}        
            </p>     

    </p>

    <p><b>Some Photos:</b></p>
    {% for photo_url in data['photos'] %}
      <img src="{{ photo_url }}">
    {% endfor %}  
    
</div>
{% endblock %}