{% extends 'base.html' %}

{% block title %}Let's Find Good Food{% endblock %}

{% block head %}
<meta id="details-map-info" business-name="{{ data['name']}}" business-latitude="{{ data['coordinates']['latitude'] }}" 
    business-longitude="{{ data['coordinates']['longitude'] }}" user-location-latitude="{{ user_coordinates['results'][0]['geometry']['location']['lat'] }}"
    user-location-longitude="{{ user_coordinates['results'][0]['geometry']['location']['lng'] }}">
</meta>

<script src="/static/js/detailsmap.js"></script>
<script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUGVnroWJpcUmeIrmjxJfmSAObDacF7Q8&callback=initMap">
</script>
  
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-6'>
        <div class='row align-items-center' id='restaurant-details'>
            
            <h2>{{ data['name'] }}</h2>
            <div class='col'>
                <p>
                    <b>Cuisine Type(s):</b> |{% for category in data['categories'] %}  
                                        {{ category['title']}} |
                                    {% endfor %}  
                </p>
                <p>
                    <b>Price:</b> {{ data['price']}}
                </p>
                <p>
                    <b>Phone:</b> {{ data['display_phone']}}
                </p>    
                <p>
                    <b>Address:</b> {% for line in data['location']['display_address'] %}
                                    {{ line }}
                                    {% endfor %}   
                </p>           
            </div>         
            <div class='col'>
                <b>Hours:</b> 
                    {% if 'hours' in data %} 
                    <p>
                        Currently {% if data['hours'][0].is_open_now %} Open! 
                        {% else %} Closed :( {% endif %}
                    </p>
                    <p>              
                        {% for day, hours in day_determiner(data['hours'][0].open).items() %} 
                            <p>{{ day }}: {{ hours }}</p>
                        {% endfor %}        
                    </p>     
                    {% else %}
                    This business does not have its hours listed on Yelp. :(
                    {% endif %}

            </div>
        </div>
    </div>
    <section class="col-6 map">
        <div id="map" style='margin:10px;'></div>
    </section>    
</div>
<div class='row'>
    <p id='details-photos-header'><b>Some Photos:</b></p>
    <div class='row justify-content-center'>
        {% for photo_url in data['photos'] %}
        <img class='col-md-3 details-photo' src="{{ photo_url }}">
        {% endfor %}  
    </div>
</div>

<div class ='action_butts'>
    <p>
    {% if current_user.is_anonymous %}
        <a href='/loginpage'>Log In to Rate This Restauarant!</a> 
    {% else %}
        <form action='/api/iwenthere/{{data["id"]}}'>
            <button type="submit">I went here and wish to pass judgement.</button>
        </form>
    {% endif %}
    </p>
    Show me:
    <form method ='POST' action='/api/search-again'>
        <button type="submit" name='search-again-button' value="random">Another Random Listing</button>
        <button type="submit" name='search-again-button' value="nearby">List of Nearby Foods</button>
        <button type="submit" name='search-again-button' value="ideas">The Ideas</button>
    </form>
</div>
{% endblock %}