{% extends 'base.html' %}

{% block title %}Let's Find Good Food{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div id='welcome'>
        <!-- <h2>"Where do you want to eat?"</h2>
        <h5>"Do you have a preference????" *aggressive peer pressure*</h5>
        <h7>"I want to eat where you want to eat."</h7> -->
        
        <div class='row'>
            <div class='col-2 offset-2'>
                <h2 class="header-things">Is this you?</h2>
            </div>
            <div class='col'>
                <img style='height: 220px;' src='../static/images/distractedBoyfriend.jpeg'> 
            </div>
            <div class='col align-self-center'>    
                <p><h7><b>It doesn't have to be!</p> 
                <p class='offset-1'>Don't let it be you!!</b></h7></p>
            </div>
        </div>    
    </div>
</div>

<div class='container'>
    <div id='querying'>
        <h2 class='header-things'>Let's find a place to eat together. No pressure. :)</h2>
        <div class='row'>
            <form action='/api/search-businesses'>
        
            <div id='location'>
                <p>
                    <label class='form-label'>What is your address or cross street?</label> <input class='form-control' type="text" name="address">
                </p>
                <p>  
                    <label class='form-label'>Your city?</label> <input class='form-control' type="text" name="city">
                </p>
                <p>
                    <label class='form-label'>Your state?</label> <input class='form-control' type="text" name="state">
                </p> 
                <p>
                    How far will you go for noms?
                    <select name="mile_radius" class='form-select'>
                    <option value="1">1 mile</option>
                    <option value="5">5 miles</option>
                    <option value="10">10 miles</option>
                    <option value="15">15 miles</option>
                    <option value="20">20 miles</option>
                    </select>
                </p>
            </div> 
            <div class='row'>
                <button class='btn btn-success btn-lg col-4 offset-4' type="submit" name="submit_button" value="ideas">Show Me Ideas!</button>
            </div>
            <div class='row'>
                <span class='col gy-3 d-grid mx-auto'>
                    <button class='btn btn-success btn-sm' type="submit" name="submit_button" value="nearby">Search Nearby</button> 
                </span>
                <span class='col gy-3 d-grid mx-auto'>    
                    <button class='btn btn-success btn-sm' type="submit" name="submit_button" value="random">Show Me A Random Place!</button> 
                </span>    
            </div>    
            </form>
        </div>
    </div>  
    

  
</div>
{% endblock %}