{% extends 'base.html' %}

{% block title %}Let's Find Good Food{% endblock %}

{% block content %}
<div>
    
    <ul>
      {% for data in my_data %}
        {% if not data['is_closed'] %}
            <li>
            <p>  
                <h2>{{ data['name'] }}</h2>
                <p class='restaurant_image'>
                  <img src="{{data['image_url']}}">  
                </p>    
                <p>
                  Cuisine Type(s): |{% for category in data['categories'] %}  
                                      {{ category['title']}} |
                                    {% endfor %}  
                </p>
                <p>
                  Price: {{ data['price']}}
                </p>
                <p>
                  Phone: {{ data['display_phone']}}
                </p>
                <p>
                  Address: {% for line in data['location']['display_address'] %}
                             {{line}}
                           {% endfor %}   
                </p>
                <p>
                  Yelp Rating: {{ data['rating']}}/5 [<a href="{{data['url']}}">View Listing On Yelp</a>]
                </p>        
                <p>
                  <a href="/api/details/{{data['id']}}">View Details</a>  
                </p>    
            </p>  
            </li>
        {% endif %}    
      {% endfor %}
    </ul>
</div>
{% endblock %}